@font-face {
  font-family: 'Noto Sans';
  src: url('@/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: local('Noto Sans CJK KR'), url('../webfont/NotoSansKR-Regular-subset.woff2') format('woff2'),
    url('../webfont/NotoSansKR-Regular-subset.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: local('Noto Sans CJK KR Bold'), url('../webfont/NotoSansKR-Bold-subset.woff2') format('woff2'),
    url('../webfont/NotoSansKR-Bold-subset.woff') format('woff');
}

* {
  font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
}
